<launch>
    <!--    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nuturtle_description)/config/view_robot.rviz" required="true"/>-->
    <arg name="visualization_mode" default='0' doc='0 for grid map, 1 for regular rviz visualization'/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find prm)/config/visualize_prm.rviz" required="true"/>
    <node pkg="tf" type="static_transform_publisher" name="static_map_frame" args="0 0 0 0 0 0 1 map 100" />
    <node name="prm_node" pkg="prm" type="prm_node" output="screen" if="$(eval arg('visualization_mode')==1)">
        <rosparam file="$(find prm)/config/params.yaml" command="load"/>
    </node>
    <node name="grid_map_node" pkg="prm" type="grid_map_node" output="screen" if="$(eval arg('visualization_mode')==0)">
        <rosparam file="$(find prm)/config/params.yaml" command="load"/>
    </node>

</launch>